*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homeimg{
    width: 100%;
    height: 100%;
    background: transparent;
    
}

.home-text{
    padding-top: 9vmax;
    margin-left: 7vmax;
    font-size: 5vmax;
    line-height: 7vmax;
    color: #193C62;
}

.home-text-img{
    width: 13%;
    height: 13%;
    color: #FB663E;
    margin-bottom: 1vmax;
}

.home-text-span1{
    margin-left: 9vmax;
}

.home-text-span2{
    margin-left: 4vmax;
    
}

.homebtn{
    margin-left: 17vmax;
    margin-top: 5vmax;
    padding: 1vmax 2.5vmax;
    font-size: 1.5vmax;
    background-color: #193C62;
    border: none;
    color: #FA9569;
    font-weight: bolder;
}

.homebtn:hover{
    color: #193C62;
    background-color:  #FA9569;
}

.createbtn{
    /* margin-left: 85%; */
    margin-top: -3vmax;
    padding: 1vmax 1.1vmax;
    font-size: 1.5vmax;
    background-color: #b98c24;
    /* border: 2px solid rgb(164, 77, 77); */
    /* background-color: #9b8c7d; */
    border: none;
    color: #1d1f22;
    font-weight: bolder;
}

.createbtn:hover{
    color: #FA9569;
    background-color: #eedec9;
}

.create-todo-btn{
    margin-left: 7.3vmax;
    margin-top: 1.5vmax;
    padding: .5vmax 2vmax;
    margin-bottom: 2vmax;
    font-size: 1.5vmax;
    background-color: #DDB867;
    border: none;
    color: #000000;
    font-weight: bolder;
}

.create-todo-btn:hover{
    /* color: #ddd6cf; */
    color: #000000;
    background-color: #E6C493;
}

.update-btn{
    margin-left: 7.3vmax;
    margin-top: 1.5vmax;
    padding: .5vmax 2vmax;
    margin-bottom: 2vmax;
    font-size: 1.5vmax;
    background-color: #DDB867;
    border: none;
    color: #000000;
    font-weight: bolder;
}

.update-btn:hover{
    color: #000000;
    background-color: #E6C493;
}

.mytodo{
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bm90ZXNhcHAlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
    background-position: center;
    background-size: cover;
}

.createtodo{
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bm90ZXNhcHAlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
    background-position: bottom;
    background-size: cover;
}

.updatetodo{
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bm90ZXNhcHAlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
    background-position: bottom;
    background-size: cover;
}

.mytodo-btw-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2vmax;
    border-bottom: 2px dotted rgb(58, 56, 56);
}


